/* Reset styles */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.title {
  color: blueviolet;
}

.button {
  background-color: blueviolet;
  color: whitesmoke;
  border-radius: 5px;
}

.message {
  font-size: larger;
  color: blueviolet;
}

.balance {
  font-size: large;
  font-style: italic;
}

.randomNumber {
  font-size: x-small;
  font-style: italic;
  color: gray;
}
